<app-header></app-header>
<div class="headband"></div>
<div class="container margin-negative">
  <nb-card class="p-3">
    <h2 class="text-center">{{'reset_pass.reset' | translate}}</h2>
    <div class="row mt-4">
      <div class="col-md-6 mx-auto d-block">
        <form [formGroup]="form">
          <label>{{'reset_pass.email' | translate}} :</label>
          <nb-form-field class="w-100 my-2 input-full-width">
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input type="text" formControlName="email" nbInput class="input-full-width"
              placeholder="{{'register.email' | translate}}">
          </nb-form-field>
          <button nbButton status="primary" class="d-block mx-auto mt-4 w-100" (click)="submit()">{{'reset_pass.reset' | translate}}
          </button>
        </form>
      </div>
    </div>
  </nb-card>
</div>
<app-footer></app-footer>
