<label>{{'lesson.settings.group' | translate}}  : </label><br/>


<nz-switch disabled [(ngModel)]="isCollectif"></nz-switch><br/>

<div class="mt-4" *ngIf="isCollectif">
    <label>{{'lesson.settings.max' | translate}}<span nz-tooltip nzTooltipTitle="{{'lesson.settings.max' | translate}} "><nb-icon nbPrefix icon="question-mark-circle-outline" class="mx-2 pointer text-primary" pack="eva"></nb-icon></span> </label>
    <nz-slider [(ngModel)]="lesson.capacity" [nzMax]="10" [nzMin]="2" [nzTipFormatter]="formatToolTip"></nz-slider>
</div>

<label class="mt-4">{{'lesson.settings.link' | translate}} :</label>

<input *ngIf="!lesson.address" nbInput fullWidth [(ngModel)]="lesson.video_link">