<app-header></app-header>
<div class="headband"></div>
<div class="container margin-negative">
  <nb-card class="p-3">
    <h2 class="text-center">{{'register.validation_email.title' | translate}}</h2>
    <div class="row mt-4">
      <div class="col-md-6 mx-auto d-block">

        <p class="text-center mt-2">{{'register.validation_email.main' | translate}} <a class="text-primary"
            routerLink="/">{{'register.validation_email.main' | translate}}</a></p>
      </div>
    </div>
  </nb-card>
</div>
<app-footer></app-footer>
