<app-header></app-header>
<div class="row mx-0">
    <div class="col-md-6">
        <div class="mt-5">
            <h1 class="text-center text-primary" style="margin-top:25vh">Class'Maths</h1>
        </div>
        <nb-form-field class="center mx-5">
            <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
            <input type="text" nbInput fullWidth fieldSize="giant" placeholder="Search a place, a teacher...">
        </nb-form-field>
        <p class="text-center mt-5 center">You'd like to give classes ? <span class="text-primary pointer" (click)="registerTeacher()">Register as teacher</span></p>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/home/hero.png" class="w-100">
    </div>
</div>
<div class="row mx-0 my-5">
    <div class="col-12">
        <div class="container mx-auto d-block mt-5">
            <div class="row">
                <div class="col-md-4 item-front mt-5">
                    <nb-card class="border-0 rounded shadow-sm p-4">
                        <div class="img-wrapper">
                            <img src="../../../assets/home/clock.png" class="card-image" width="120">
                        </div>
                        <h4 class="text-center font-weight-normal">Title</h4>
                        <p class="light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </nb-card>
                </div>
                <div class="col-md-4 item-front mt-5">
                    <nb-card class="border-0 rounded shadow-sm p-4">
                        <div class="img-wrapper">
                            <img src="../../../assets/home/file.png" class="card-image" width="99">
                        </div>
                        <h4 class="text-center font-weight-normal">Title</h4>
                        <p class="light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </nb-card>
                </div>
                <div class="col-md-4 item-front mt-5">
                    <nb-card class="border-0 rounded shadow-sm p-4">
                        <div class="img-wrapper">
                            <img src="../../../assets/home/fund.png" class="card-image" width="120">
                        </div>
                        <h4 class="text-center font-weight-normal">Title</h4>
                        <p class="light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </nb-card>
                </div>
            </div>
        </div>
        <div class="bg-pattern-stripe"></div>
    </div>
</div>
<div class="row hero-bg my-5 mx-0">
    <div class="col-12">
        <img src="../../../assets/home/idea.png" width="120" class="d-block mx-auto">
        <h1 class="text-center">Lorem ipsum dolor sit.</h1>
        <div class="container mt-5 ">
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem soluta dolor numquam ullam, veniam dignissimos, nemo recusandae aperiam obcaecati labore quidem possimus, enim dolores nisi voluptates ab a dolore quam assumenda officia? Iure nesciunt voluptatem tenetur molestiae alias expedita laboriosam illo aliquam, architecto ea quidem libero molestias sequi quos. Maxime, et laudantium. Molestias exercitationem dicta reprehenderit quidem harum recusandae maxime.</p>
            <div class="my-5">
                <home-headband></home-headband>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>