<nav class="navbar navbar-expand-lg navbar-light  bg-white rounded px-4">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/logo2.svg" class="logo" width="60" /></a>
    <div class="collapse navbar-collapse d-none d-md-block" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">{{'header.home' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">{{'header.about' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">{{'header.contact' | translate}}</a>
            </li>
        </ul>
        <div class="d-inline">
            <div class="d-inline">
                <nz-badge class="mx-3 pointer" [nzCount]="5">
                    <nb-icon class="d-inline-block" icon="inbox-outline" pack="eva"></nb-icon>
                  </nz-badge>


            </div>
            <nb-select class="language-selector" size="small"  (selectedChange)="languageChange($event)"
                [(selected)]="language">
                <nb-option selected value="en">🇬🇧</nb-option>
                <nb-option value="fr">🇫🇷</nb-option>
            </nb-select>
            <button nbButton hero size="small" routerLink="/login" class="mx-2" *ngIf="!isConnected"><i nz-icon
                    nzType="user" nzTheme="outline"></i> {{'header.login' | translate}}</button>
            <button nbButton hero status="primary" size="small" routerLink="/register" class=" ml-2 mr-4"
                *ngIf="!isConnected"><i nz-icon nzType="user" nzTheme="outline"></i> {{'header.register' | translate}}
                !</button>
            <button nbButton hero status="primary" size="small" (click)="goToDashboard()" class=" ml-2 mr-4"
                *ngIf="isConnected && (router.url != '/student/dashboard' && router.url != '/teacher/dashboard')"><i nz-icon nzType="user" nzTheme="outline"></i>
                {{'header.dashboard' | translate}}</button>

                <button nbButton hero status="primary" size="small" (click)="logout()" class=" ml-2 mr-4"
                *ngIf="isConnected && (router.url == '/student/dashboard' || router.url == '/teacher/dashboard')"><i nz-icon nzType="user" nzTheme="outline"></i>
                {{'header.logout' | translate}}</button>
        </div>
    </div>
    <div class="float-right d-inline d-md-none mobile-menu">
        <div class="d-inline">
            <button nbButton hero size="small" routerLink="/login" class="mx-2" *ngIf="!isConnected"><i nz-icon
                    nzType="user" nzTheme="outline"></i> {{'header.login' | translate}}</button>
            <button nbButton hero status="primary" size="small" routerLink="/register" class=" ml-2 mr-4"
                *ngIf="!isConnected"><i nz-icon nzType="user" nzTheme="outline"></i> {{'header.register' | translate}}
                !</button>
        </div>
    </div>

</nav>