<app-header></app-header>
<div class="container-lg">
    <div class="row">
        <div class="col-md-3 col-12">
            <div class="profile">
                <div class="profile-img"
                    [ngStyle]="{'background-image' : 'url(' + teacher?.image+ ')'}">
                </div>
            </div>
            <h3 class="mt-3 text-center">{{teacher?.firstname | titlecase}} {{teacher?.lastname | titlecase}}</h3>
            <nz-divider></nz-divider>
            <h6>{{'teacher.teached_subjects' | translate}} :</h6>
            <nz-tag *ngFor="let subject of teacher?.teacher_subject" [nzColor]="subject.subject.color">
                {{subject.subject.libelle | translate}}</nz-tag>
            <h6 class="mt-4">{{'teacher.locality' | translate}} :</h6>
            <p><nb-icon icon="pin-outline"></nb-icon> {{teacher?.address?.city}} <span class="text-hint" *ngIf="teacher?.address?.distance">({{teacher?.address?.distance | number : '1.1-1'}} km)</span></p>
        </div>
        <div class="col-md-9 col-12" *ngIf="teacher">
            <h3>{{'teacher.desc' | translate}}</h3>
            <nb-card>
                <nb-card-body>
                    {{teacher?.teacher_profil?.description}}
                </nb-card-body>
            </nb-card>
            <h3>Calendrier</h3>
            <teacher-calendar [teacher]="teacher"></teacher-calendar>
            <h3 class="mt-5">{{'teacher.reviews' | translate}} </h3>
            <nz-empty nzNotFoundImage="simple" nzNotFoundContent="{{'teacher.no_reviews' | translate}}"></nz-empty>
        </div>
    </div>
</div>
<app-footer></app-footer>