:host::ng-deep {
    .ant-tabs-tab {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        margin: 0 16px 0 16px;
        padding: 12px 0;
        text-decoration: none;
        cursor: pointer;
        font-size: 60px;
        text-align: center;
        transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .margin-negative {
        margin-top: -65px;
        // background-color: #f8f9fb ;
    }
    .list-virtual {
        max-height: 70vh;
        overflow-y: auto;
        padding-top: 15px;
    }
    .caption-2 {
        color: #fff;
    }
    .user-name,
    .user-picture {
        color: #fff !important;
    }
    .status-warning {
        background-color: #23d7ff !important;
    }
    nz-list-item {
        min-height: 95px !important;
        max-height: 95px !important;
    }

    .status-warning {
        height: 200px;
        margin-top: 90px;
    }
    .color-hover {
        color: #6dc5bb;
    }

    .ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after{
        border-top: 0px !important;
    }

    .disabled{
        background-color: #f6f9fc;
    }

    nb-tag.size-small {
        font-size: 8px !important;
        line-height: 12px !important;
    }
    .button-small{
        line-height: 10px;
    }
    // .zindex{
        // z-index: 30;
    // }
}
