.profile{
    transition: all 0.2s;
    .profil-img{
        height:270px;
        background-size: cover;
        background-position: center;
        border-radius : 9px;
        filter : grayscale(15%)
    }
    .inblock-profile{
        display: inline-block;
        //align-self: flex-end;
    }
    .locale{
        font-family: OdudoLight !important;
    }
    
}

.profile:hover{
    transform: scale(1.02);
    transition: all 0.4s;
}

:host::ng-deep{
    .nb-timepicker-container{
        .list-item:nth-child(-n+8){
            display: none;
        }
        .list-item:nth-last-child(-n+2){
            display: none;
        }
    }

    .date-input{
        max-width: 100vw !important;
    }
    @media (max-width: 768px) {
        .expanded.top-0{
            top : 0 !important;
            width:100vw;
        }
        .main-container {
            top : 0 !important;
            width:100vw;
        }
    }
}