<app-header></app-header>
<nb-layout>
    <nb-sidebar>
        <div class="m-1">
            <h4>{{'register.location' | translate}}</h4>
            <nb-form-field>
                <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
                <input type="text" #placeInput [nbAutocomplete]="auto" (input)="findPlaces($event)" nbInput fullWidth
                    fieldSize="medium" placeholder="{{'register.location' | translate}}">
            </nb-form-field>
            <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

                <nb-option *ngFor="let option of places" [value]="option">
                    <nb-icon pack="eva" icon="pin-outline" class="text-primary mt-1"></nb-icon><span
                        [innerHtml]="option.place_name"></span>
                </nb-option>
            </nb-autocomplete>
            <h4 class="mt-4">Matières</h4>
            <nz-checkbox-wrapper style="width: 100%;">
                <div nz-row>
                    <div *ngFor="let subj of subjects" nz-col nzSpan="24" class="mt-1"><label nz-checkbox nzValue="A"
                            [ngModel]="subj.id == filters.subject_id"
                            (ngModelChange)="selectedSubjectsChange($event, subj)">{{subj.libelle | translate}}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>
        </div>
    </nb-sidebar>

    <nb-layout-column style="overflow: auto; min-height: calc(100vh - 74px);" >
        <div class="row mx-0 mt-4 px-5" *ngIf="data">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-12 px-4 mt-5 bg-white" *ngFor="let teacher of data?.data">
                <div class="mt-5">

                    <div class="profile pointer bg-white" (click)="openTeacherProfile(teacher.id)">
                        <div class="profil-img" [ngStyle]="{'background-image' : 'url('+teacher.image+ ')'}">
                            <div class="d-flex h-100">
                                <!-- <div class="inblock-profile">
                                    <h2 class="text-white m-2 d-inline-block">{{teacher.firstname | titlecase}}
                                        {{teacher.lastname | titlecase}}</h2>
                                </div> -->
                            </div>
                        </div>
                        <p class="text-bold justify-content-between mt-3"
                            style="overflow: hidden;white-space: nowrap;clear: both;display: inline-block;">
                            {{teacher.firstname | titlecase}} {{teacher.lastname | titlecase}}
                            <!-- <p class="locale mb-0 mt-1 text-right"> -->
                            <span class="locale mb-0 mt-1 text-right">
                                <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon> {{teacher.address.city}}
                            </span>
                        </p>
                        <div class="row">

                            <div class="col-6">
                                <div class="mt-2">
                                    <nz-tag *ngFor="let subject of teacher.teacher_subjects"
                                        [nzColor]="subject.subject.color">
                                        {{subject.subject.libelle | translate}}</nz-tag>
                                </div>
                            </div>
                            <div class="col">
                                <div class="float-right">
                                    {{teacher.note || ""}} <nb-icon icon="star" class="mt-1"></nb-icon>
                                </div>
                            </div>   
                        </div>
                        <button nbButton size="small" class="w-100 mt-2">
                            {{teacher?.teacher_profil?.currency | uppercase}} {{teacher?.teacher_profil?.rate}}  / h
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <nz-empty *ngIf="data?.data?.length == 0" nzNotFoundContent="{{'teacher.not_found' | translate}}"></nz-empty>
    </nb-layout-column>
</nb-layout>

<app-footer></app-footer>