<app-header></app-header>
<nb-layout>
    <nb-sidebar responsive start class="top-0">
        <div class="m-1">
            <nb-icon (click)="toogleSidebar()" icon="close-outline" pack="eva" class="mx-2 pointer d-md-none d-block float-right"></nb-icon>
            <h4>Recherche</h4>
            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="text" (input)="setKeyword($event)"  nbInput fullWidth
                    fieldSize="medium" placeholder="Search by name">
            </nb-form-field>
            <h4 class="mt-4">{{'register.location' | translate}}</h4>
            <nb-form-field>
                <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
                <input type="text" #placeInput [nbAutocomplete]="auto" (input)="findPlaces($event)" nbInput fullWidth
                    fieldSize="medium" placeholder="{{'register.location' | translate}}">
            </nb-form-field>
            <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

                <nb-option *ngFor="let option of places" [value]="option">
                    <nb-icon pack="eva" icon="pin-outline" class="text-primary mt-1"></nb-icon>
                    <span>{{option.name}}, <span class="text-grey" *ngFor="let item of option.formattedAddressLines">{{item}} </span></span>
                </nb-option>
            </nb-autocomplete>
            <h4 class="mt-4">Date</h4>
            <input class="w-100 date-input" nbInput placeholder="Lesson date" (input)="onDateSelectionChange($event)" [nbDatepicker]="dateTimePicker">
            <nb-date-timepicker (dateTimeChange)="onDateSelectionChange($event)" singleColumn #dateTimePicker></nb-date-timepicker>

            <h4 class="mt-4">Matières</h4>
            <nz-checkbox-wrapper style="width: 100%;">
                <div nz-row>
                    <div *ngFor="let subj of subjects" nz-col nzSpan="24" class="mt-1"><label nz-checkbox nzValue="A"
                            [ngModel]="subj.id == filters.subject_id"
                            (ngModelChange)="selectedSubjectsChange($event, subj)">{{subj.libelle | translate}}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>

            <h4 class="mt-4">Préferences</h4>
            <nz-radio-group (ngModelChange)="onFilterChange('at_home', $event)" class="w-100" [(ngModel)]="filters.at_home">
                <label nz-radio [nzValue]="true">A domicile</label>
                <label nz-radio [nzValue]="false">A distance</label>
              </nz-radio-group>
        </div>
    </nb-sidebar>

    <nb-layout-column style="overflow: auto; min-height: calc(100vh - 74px);">
        <button nbButton type="primary" class="mx-auto d-block d-md-none mt-3" (click)="toogleSidebar()"><nb-icon icon="options-2-outline" pack="eva" class="mx-2"></nb-icon>Filter les professeurs</button>
        <div class="row mx-0 mt-4 px-md-5 px-3" *ngIf="data">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-12 px-2 mt-5" *ngFor="let teacher of data?.data">
                <div class="">

                    <div class="profile pointer px-2" (click)="openTeacherProfile(teacher.id)">
                        <div class="profil-img w-100" [ngStyle]="{'background-image' : 'url('+teacher.image+ ')'}">
                        
                        </div>
                        <div class="bg-white rounded px-4">

                            <p class="text-bold justify-content-between mt-3 w-100"
                                style="overflow: hidden;white-space: nowrap;clear: both;display: inline-block;">
                                {{teacher.firstname | titlecase}} {{teacher.lastname | titlecase}}
                                <span class="locale mb-0 mt-1 text-right float-right">
                                    <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon> {{teacher.address.city}}
                                </span>
                            </p>
                            <div class="row">

                                <div class="col-6">
                                    <div class="mt-2">
                                        <nz-tag *ngFor="let subject of teacher.teacher_subjects"
                                            [nzColor]="subject.subject.color">
                                            {{subject.subject.libelle | translate}}</nz-tag>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="float-right">
                                        {{teacher.note || ""}} <nb-icon icon="star" class="mt-1"></nb-icon>
                                    </div>
                                </div>
                            </div>
                            <button nbButton hero size="small" class="w-100 mt-2 mb-4">
                                {{teacher?.teacher_profil?.currency | uppercase}} {{teacher?.teacher_profil?.rate}} / h
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <nz-empty *ngIf="data?.data?.length == 0" nzNotFoundContent="{{'teacher.not_found' | translate}}"></nz-empty>
    </nb-layout-column>
</nb-layout>

<app-footer></app-footer>