<h3 class="text-center mt-3">{{'admin.stats.title' | translate}}</h3>
<div class="container-lg mt-5 bg-white" *ngIf="loading==false">
  <div class="row border-bottom">
    <div class="col-6 mt-3 mb-3">
      <h5 class="text-center">{{'admin.stats.averagestudents' | translate}} {{ageAvairage['students']}} {{'admin.stats.year' | translate}}</h5>
    </div>
    <div class="col-6 mt-3 mb-3">
      <h5 class="text-center">{{'admin.stats.averageteachers' | translate}} {{ageAvairage['teachers']}} {{'admin.stats.year' | translate}}</h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <h5 class="text-center">{{'admin.stats.kind' | translate}}</h5>
      <canvas [colors]="pieColor" baseChart [data]="kindUserData" [labels]="kindUserLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
    <div class="col-6">
      <h5 class="text-center">{{'admin.stats.status' | translate}}</h5>
      <canvas [colors]="pieColor" baseChart [data]="isTeacherValidatedData" [labels]="isTeacherValidatedLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <h5 class="text-center">{{'admin.stats.subjects' | translate}}</h5>
      <canvas [colors]="pieColorSubject" baseChart [data]="TeacherSubjectsData" [labels]="TeacherSubjectsLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
    <div class="col-6">
      <h5 class="text-center">{{'admin.stats.disputes' | translate}}</h5>
      <canvas baseChart [data]="disputesStatusData" [labels]="disputesStatusLabels" [colors]="pieColor" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
