.headband{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(../../../../../assets/home/headband/background.png);
    height: 250px;
    border-radius: 15px;
    background-color: #806bff;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}