<nb-layout>
    <nb-layout-column>

        <app-header></app-header>
        <div class="headband"></div>

        <div class="container margin-negative">
            <nb-card class="p-3">
                <h2 class="text-center">{{'dispute.title' | translate}}</h2>

                <div class="px-4">
                    <div class="row" *ngIf="lesson">
                        <div class="col-md-4">
                            <label>{{'lesson.teacher' | translate}}</label>
                            <input type="text" class="mt-3" nbInput fullWidth disabled fieldSize="medium"
                                [value]="lesson.teacher.lastname + ' '+lesson.teacher.firstname">
                        </div>

                        <div class="col-md-4">
                            <label>Date</label>
                            <input type="text" class="mt-3" nbInput fullWidth disabled fieldSize="medium"
                                value="{{lesson.scheduled_at | date:'medium'}}">
                        </div>

                        <div class="col-md-4">
                            <label>{{'lesson.subject' | translate}}</label>
                            <input type="text" class="mt-3" nbInput fullWidth disabled fieldSize="medium"
                                value="{{lesson.subject.libelle | translate}}">
                        </div>

                    </div>

                    <label class="mt-4">Titre du litige</label>
                    <input type="text" class="mt-3" nbInput fullWidth fieldSize="medium" [(ngModel)]="dispute.title"
                        placeholder="Titre du litige">

                    <label class="mt-4">Selection du problème</label><br />
                    <nb-select placeholder="Selection du problème" [(selected)]="dispute.reason" class="mt-3 w-75">
                        <nb-option-group title="Problème avec le professeur">
                            <nb-option value="1">Le professeur n'est pas venu pour faire le cours</nb-option>
                            <nb-option value="2">Le professeur n'est pas au niveau de mes attentes</nb-option>
                            <nb-option value="3">Le professeur n'a pas été respectueux envers un des élèves</nb-option>
                        </nb-option-group>

                        <nb-option-group title="Problème avec un élève">
                            <nb-option value="21">L'étudiant n'est pas venu assister au cours</nb-option>
                            <nb-option value="22">L'étudiant n'a pas été respectueux envers le professeur</nb-option>
                        </nb-option-group>

                        <nb-option value="other">Autres</nb-option>

                    </nb-select><br />


                    <label class="mt-5">Description</label>
                    <textarea nbInput [(ngModel)]="dispute.description" fullWidth
                        placeholder="Description détaillée du litige" class="text-area mt-3"></textarea>

                    <div class="d-flex flex-row-reverse">
                        <button nbButton status="primary" [disabled]="!dispute.title || !dispute.reason || !dispute.description" (click)="createDispute()" class="mt-3">Envoyer</button>
                    </div>
                </div>
            </nb-card>
        </div>
    </nb-layout-column>

</nb-layout>