<app-header></app-header>
<div class="headband"></div>
<div class="container margin-negative">
    <nb-card class="p-3" [ngSwitch]="step">
        <h2 class="text-center">{{'register.title' | translate}}</h2>
        <div class="row my-4" *ngSwitchCase="1">
            <div class="offset-2 col-4">

                <nb-card class="px-5 py-3" (click)="select('student')"
                    [accent]="form.type=='student' ? 'primary' : 'default'">
                    <nb-radio [checked]="form.type=='student'" status="primary">
                        {{'register.student.title' | translate}}</nb-radio>
                    <p class="caption mt-2">{{'register.student.desc' | translate}}</p>
                </nb-card>
            </div>
            <div class="col-4">
                <nb-card class="px-5 py-3" (click)="select('teacher')"
                    [accent]="form.type=='teacher' ? 'primary' : 'default'">
                    <nb-radio [checked]="form.type=='teacher'" status="primary">
                        {{'register.teacher.title' | translate}}</nb-radio>
                    <p class="caption mt-2">{{'register.teacher.desc' | translate}}</p>
                </nb-card>
            </div>
        </div>
        <div class="row my-4" *ngSwitchCase="2">
            <div class="offset-2 col-4">
                <label>{{'register.lastname' | translate}} :</label><br />
                <nb-form-field>
                    <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                    <input type="text" nbInput class="w-100" placeholder="{{'register.lastname' | translate}}">
                </nb-form-field>
            </div>
            <div class="col-4">
                <label>{{'register.firstname' | translate}} :</label><br />
                <nb-form-field>
                    <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                    <input type="text" nbInput class="w-100" placeholder="{{'register.firstname' | translate}}">
                </nb-form-field>
            </div>
            <div class="offset-2 col-4 mt-4">
                <label>{{'register.gender' | translate}} : </label>
                <nb-radio-group [(ngModel)]="form.sexe"> 
                    <nb-radio value="m">
                        {{'register.male' | translate}}
                    </nb-radio>
                    <nb-radio value="f">
                        {{ 'register.female' | translate }}
                    </nb-radio>
                </nb-radio-group>
            </div>
            <div class="col-4 mt-4">
                <label>{{'register.email' | translate}} :</label><br />
                <nb-form-field>
                    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                    <input type="email" nbInput class="w-100" placeholder="{{'register.email' | translate}}">
                </nb-form-field>
            </div>
            <div class="offset-2 col-4 mt-4">
                <label>{{'register.password' | translate}} : </label>
                <nb-form-field>
                    <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                    <input type="password" nbInput class="w-100" placeholder="{{'register.password' | translate}}">
                </nb-form-field>
            </div>
            <div class="col-4 mt-4">
                <label>{{'register.repeat-password' | translate}} :</label><br />
                <nb-form-field>
                    <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                    <input type="password" nbInput class="w-100" placeholder="{{'register.repeat-password' | translate}}">
                </nb-form-field>
            </div>
        </div>
        <button nbButton status="primary" class="d-block mx-auto" (click)="nextStep()">{{'register.next' | translate}}
            <nb-icon icon="arrow-forward-outline"></nb-icon></button>
    </nb-card>
</div>
<app-footer></app-footer>