<div class="row">
    <div class="col-md-8">
        <h3 class="text-center mt-3">{{lesson?.subject?.libelle | translate}}</h3>
        <nb-alert status="danger" class="mx-4" *ngIf="lesson?.capacity > 1 && !lesson?.video_link">Le professeur n'a pas encore fourni de lien de vidéoconférence pour ce cours collectif ! Contactez le pour plus de détails</nb-alert>

        <nb-card status="success" [nbSpinner]="loading" nbSpinnerStatus="primary" class="mx-4">
            <nb-card-header [style.backgroundColor]="lesson?.subject?.color">{{lesson?.subject?.libelle | translate}}
                {{'lesson.with' | translate}} {{lesson?.teacher?.lastname}} {{lesson?.teacher?.firstname}}

                <nb-icon nbPrefix icon="settings-2-outline" class="mx-3 mt-1 float-end pointer"
                    *ngIf="isTeacher && (lesson?.status?.code == 'confirmed' ||  lesson?.status?.code == 'unconfirmed')"
                    (click)="openSettingsModal()" pack="eva"></nb-icon>
                <div [ngSwitch]="lesson?.relative_status?.code" class="float-end">
                    <nb-tag status="basic" size="small" *ngSwitchCase="'unconfirmed'" appearance="filled"
                        text="{{lesson.relative_status.label | translate}}"></nb-tag>
                    <nb-tag status="primary" size="small" *ngSwitchCase="'confirmed'" appearance="filled"
                        text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                    <nb-tag status="warning" size="small" *ngSwitchCase="'cancelled'" appearance="filled"
                        text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                    <nb-tag status="success" size="small" *ngSwitchCase="'done'" appearance="filled"
                        text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                </div>
            </nb-card-header>
            <nb-card-body>
                <label>{{'lesson.description' | translate}} : </label>
                <textarea class="mt-3" nbInput fullWidth
                    disabled>{{lesson?.teacher_subject?.description || "N/A"}}</textarea>

                <label class="mt-4">{{'lesson.date' | translate}} :</label><br />
                <input class="mt-3" nbInput fullWidth value="{{lesson?.scheduled_at | date:'EEEE, MMMM d, y, h:mm a'}}"
                    disabled />


                <label class="mt-4">{{'lesson.duration' | translate}} :</label><br />
                <input class="mt-3" nbInput fullWidth value="{{lesson?.duration | number}}h" disabled />


                <label class="mt-4" *ngIf="!lesson?.address_id">{{'lesson.type' | translate}} :</label><br />
                <label class="mt-4" *ngIf="lesson?.address_id">{{'lesson.address' | translate}} :</label><br />
                <input class="mt-3" nbInput fullWidth [value]="lesson?.address_id ? lesson?.address?.address : 'Cours en distanciel'" disabled />
                <label class="mt-4">{{'lesson.students' | translate}}</label>
                <nz-table #basicTable [nzData]="lesson?.students" class="mt-3" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>{{'lesson.student.firstname' | translate}}</th>
                            <th>{{'lesson.student.lastname' | translate}}</th>
                            <th>{{'lesson.status' | translate}}</th>
                            <th *ngIf="isTeacher && lesson.scheduled_at > date">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of lesson?.students">
                            <td>{{student.firstname}}</td>
                            <td>{{student.lastname}}</td>
                            <td>
                                <div [ngSwitch]="student.pivot.status.code">

                                    <nb-tag status="basic" size="small" *ngSwitchCase="'unconfirmed'"
                                        appearance="filled" text="{{student.pivot.status.label | translate}}"></nb-tag>
                                    <nb-tag status="primary" size="small" *ngSwitchCase="'confirmed'"
                                        appearance="filled" text="{{student.pivot.status.label | translate}}"></nb-tag>
                                    <nb-tag status="warning" size="small" *ngSwitchCase="'cancelled'"
                                        appearance="filled" text="{{student.pivot.status.label | translate}}"></nb-tag>
                                    <nb-tag status="success" size="small" *ngSwitchCase="'done'" appearance="filled"
                                        text="{{student.pivot.status.label | translate}}"></nb-tag>
                                </div>
                            </td>
                            <td *ngIf="isTeacher && lesson.scheduled_at > date">
                                <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                    Action
                                    <i nz-icon nzType="down"></i>
                                </button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li [class.disabled]="lesson?.students.length == 1"
                                            *ngIf="student.pivot.status.code == 'confirmed'" nz-menu-item
                                            (click)="removeStudent(student)">
                                            <nb-icon nbPrefix icon="close-outline" pack="eva"></nb-icon> Retirer du
                                            cours
                                        </li>
                                        <li *ngIf="student.pivot.status.code == 'unconfirmed'" nz-menu-item
                                            nz-popconfirm
                                            nzPopconfirmTitle="{{'lesson.settings.accept_confirm' | translate}}"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="acceptStudent(student)"
                                            nzOkText="{{'lesson.cancel.ok' | translate}}">
                                            <nb-icon nbPrefix icon="checkmark-outline" pack="eva"></nb-icon>
                                            {{'lesson.settings.accept_text' | translate}}
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nb-card-body>
            <nb-card-footer *ngIf="lesson?.status?.code != 'cancelled' && !isPast">
                <button nbButton size="small" (click)="openCancelModal()">{{'lesson.cancel.title' | translate}}
                </button>
                <button nbButton size="small" status="primary" class="float-end"
                    *ngIf="lesson?.status?.code =='confirmed' " (click)="joinCourse()">{{'lesson.join.title' |
                    translate}}</button>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4 mt-5">
        <nb-card class="mx-md-4 mt-4">
            <nb-card-body class="mx-md-4">
                <img [src]="lesson?.teacher?.image" class="w-75 mx-auto d-block rounded">
                <h5 class="text-center">{{lesson?.teacher?.lastname}} {{lesson?.teacher?.firstname}}</h5>
                <p class="text-center">{{lesson?.teacher?.teacher_profil?.description}}</p>
                <button nbButton size="small" class="mx-auto d-block" *ngIf="!isTeacher && !isPast">
                    <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon> Contacter {{lesson?.teacher?.lastname}}
                    {{lesson?.teacher?.firstname}}
                </button>
                <button nbButton size="small" status="primary" class="mx-auto d-block" (click)="confirmLesson()"
                    *ngIf="isTeacher && lesson.status.code == 'unconfirmed'">
                    <nb-icon nbPrefix icon="checkmark-outline" *ngIf="!paymentLoading" pack="eva"></nb-icon>
                    <nz-spin *ngIf="paymentLoading"></nz-spin> Confirm this lesson
                </button>
                <button nbButton size="small" class="mx-auto d-block mt-2" *ngIf="!isTeacher && isPast"
                    (click)="goToTeacherProfil()">
                    <nb-icon icon="email-outline" pack="eva"></nb-icon> Laisser un avis
                </button>
                <button hero nbButton size="small" status="warning" class="mx-auto d-block mt-3"
                    *ngIf="lesson?.relative_status?.code == 'confirmed' || lesson?.relative_status?.code == 'done'" (click)="startDispute()">
                    <nb-icon icon="alert-triangle-outline" pack="eva"></nb-icon> Signaler un problème avec ce cours
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>

