@use '../../../../themes.scss' as *;
:host::ng-deep {
    [nbInput].status-basic:disabled {
        // background-color: inherit  !important;
        // border-color: inherit  !important;
        color: inherit !important;
    }

}
.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
    // background-color: #ccc;
}

:host::ng-deep{
    nb-tag.appearance-filled.status-primary {
        background-color: nb-theme(tag-filled-primary-hover-background-color) !important;
        border-color: nb-theme(tag-filled-primary-hover-border-color) !important;
    }
    nb-icon{
        transform: translateY(2px);
    }
}