<div class="row mx-md-5 mt-md-5 mt-3">
    <div class="col-md-10">

        <div class="mb-4">
            <h2 class="text-center">{{title | translate}}</h2>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-12 px-4">
                <label>{{'lesson.status' | translate}}</label>
                <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select status"
                    (ngModelChange)="getLessons('status_id', $event)" [(ngModel)]="filters.status_id">
                    <nz-option *ngFor="let status of statuses" nzLabel="{{status.label | translate}}"
                        [nzValue]="status.id"></nz-option>
                </nz-select>
            </div>
            <div class="col-md-3 col-12 px-4 mt-md-0 mt-3">
                <label>{{'lesson.date' | translate}}</label><br />
                <nz-date-picker class="w-100" [(ngModel)]="filters.date" (ngModelChange)="getLessons('date', $event)">
                </nz-date-picker>
            </div>
            <div class="col-md-3 col-12 px-4  mt-md-0 mt-3">
                <label>{{'lesson.subject' | translate}}</label><br />
                <nz-select class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Select a subject" (ngModelChange)="getLessons('subject_id', $event)" [(ngModel)]="filters.subject_id">
                    <nz-option *ngFor="let subject of subjects" nzLabel="{{subject.libelle | translate}}" [nzValue]="subject.id"></nz-option>
                </nz-select>
            </div>
            <div class="col-3 pl-4">
                <!-- <nb-form-field class="w-100">
                    <nb-icon nbSuffix icon="search-outline" pack="eva"></nb-icon>
                    <input class="w-100" size="small" type="text" nbInput>
                </nb-form-field> -->
            </div>
        </div>
        <div class="bg-white p-md-5 p-1 rounded-lg shadow-sm mt-5">

            <nz-table [nzData]="lessons?.data" [nzLoading]="loading" [nzShowPagination]="true"
                [nzFrontPagination]="false" [nzPageIndex]="lessons?.current_page" [nzPageSize]="lessons?.per_page"
                [nzTotal]="lessons?.total" (nzPageIndexChange)="onPageIndexChange($event)">
                <thead>
                    <tr>
                        <th>{{'lesson.students' | translate}}</th>
                        <th class="d-none d-md-block">{{'lesson.teacher' | translate}}</th>
                        <th>{{'lesson.subject' | translate}}</th>
                        <th>Scheduled at</th>
                        <th>Status</th>
                        <th class="d-none d-md-block">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lesson of lessons?.data" class="pointer" (click)="goToCourse(lesson)">
                        <td>
                            <div *ngIf="lesson.capacity == 1; else elseBlock">
                                {{lesson.students[0].firstname}} {{lesson.students[0].lastname}}
                            </div>
                            <ng-template #elseBlock>
                                {{lesson.students.length}} / {{lesson.capacity}} {{'lesson.students' | translate |
                                lowercase}}
                            </ng-template>
                        </td>
                        <td class="d-none d-md-block">{{lesson.teacher.firstname}} {{lesson.teacher.lastname}}</td>
                        <td>
                            <nz-tag [nzColor]="lesson.subject.color">
                                {{lesson.subject.libelle | translate}}</nz-tag>
                        </td>
                        <td>{{lesson.scheduled_at | date:'MMMM d, y, h:mm a'}}</td>
                        <td>
                            <div [ngSwitch]="lesson?.relative_status?.code" class="float-right">
                                <nb-tag status="basic" size="small" *ngSwitchCase="'unconfirmed'" appearance="filled"
                                    text="{{lesson.relative_status.label | translate}}"></nb-tag>
                                <nb-tag status="info" size="small" *ngSwitchCase="'confirmed'" appearance="filled"
                                    text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                                <nb-tag status="warning" size="small" *ngSwitchCase="'cancelled'" appearance="filled"
                                    text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                                <nb-tag status="primary" size="small" *ngSwitchCase="'done'" appearance="filled"
                                    text="{{lesson.relative_status.label  | translate}}"></nb-tag>
                            </div>
                        </td>
                        <td class="d-none d-md-block">
                            <button nz-button nz-dropdown (click)="$event.stopPropagation()" [nzDropdownMenu]="menu">
                                Action
                                <i nz-icon nzType="down"></i>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="goToCourse(lesson)">Afficher le cours</li>
                                    <li *ngIf="lesson?.relative_status?.code !='cancelled' && lesson.scheduled_at > date"
                                        nz-menu-item nz-popconfirm
                                        nzPopconfirmTitle="{{'lesson.cancel.confirm' | translate}}"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="cancelLesson(lesson)"
                                        nzOkText="{{'lesson.cancel.ok' | translate}}">Annuler le
                                        cours</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <div class="col-md-2 d-none">
        <div class="row px-5">
            <div class="col-12">
                <div class="fade-pink rounded-lg p-3 flex">
                    <h4 class="text-white">Reviews</h4>
                    <nb-icon icon="heart" class="text-white text-large d-block mx-auto"></nb-icon>
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                    <button nbButton status="control">Write review</button>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="fade-orange rounded-lg p-3 flex">
                    <h4 class="text-white">Lesson</h4>
                    <nb-icon icon="book-open" class="text-white text-large d-block mx-auto"></nb-icon>
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                    <button nbButton status="control">Book Leson</button>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="fade-blue rounded-lg p-3 flex">
                    <h4 class="text-white">Reviews</h4>
                    <nb-icon icon="globe-2" class="text-white text-large d-block mx-auto"></nb-icon>
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                    <button nbButton status="control">Book Leson</button>
                </div>
            </div>
        </div>
    </div>
</div>
