<nb-card class="p-3 mx-md-5">
    <form [formGroup]="form">

        <div class="d-block mx-auto">
            <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
                [nzBeforeUpload]="beforeUpload" (nzChange)="getAvatarBlob($event)">
                <img #avatarImg *ngIf="avatarUrl" [src]="avatarUrl" class="rounded avatar" />
                <ng-container *ngIf="!avatarUrl">
                    <div class="text-center w-100">
                        <i class="upload-icon" nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">Avatar</div>
                    </div>
                </ng-container>
            </nz-upload>
        </div>
        <div class="row my-4">
            <div class="offset-md-2 col-md-4">
                <div class="d-table mx-auto">
                    <label>{{'register.lastname' | translate}} :</label><br />
                    <nb-form-field>
                        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                        <input type="text" formControlName="lastname" nbInput class="w-100 input-full-width"
                            placeholder="{{'register.lastname' | translate}}">
                    </nb-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-table mx-auto">

                    <label>{{'register.firstname' | translate}} :</label><br />
                    <nb-form-field>
                        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                        <input type="text" formControlName="firstname" nbInput class="w-100 input-full-width"
                            placeholder="{{'register.firstname' | translate}}">
                    </nb-form-field>
                </div>
            </div>
            <div class="offset-md-2 col-md-4 mt-4">
                <div class="d-table mx-auto">

                    <label>{{'register.gender' | translate}} : </label>
                    <nb-radio-group formControlName="sexe">
                        <nb-radio value="m">
                            {{'register.male' | translate}}
                        </nb-radio>
                        <nb-radio value="f">
                            {{ 'register.female' | translate }}
                        </nb-radio>
                    </nb-radio-group>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-table mx-auto">

                    <label>{{'register.email' | translate}} :</label><br />
                    <nb-form-field>
                        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                        <input autocomplete="username" type="email" formControlName="email" nbInput class="w-100 input-full-width"
                            placeholder="{{'register.email' | translate}}">
                    </nb-form-field>
                </div>
            </div>
            <div class="offset-md-2 col-md-4 mt-4">
                <div class="d-table mx-auto">

                    <label>{{'register.password' | translate}} : </label>
                    <nb-form-field>
                        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                        <input type="password" autocomplete="new-password" formControlName="password" nbInput class="w-100 input-full-width"
                            placeholder="{{'register.password' | translate}}">
                    </nb-form-field>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-table mx-auto">

                    <label>{{'register.repeat-password' | translate}} :</label><br />
                    <nb-form-field>
                        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                        <input autocomplete="new-password" type="password" formControlName="repeat_password" nbInput class="w-100 input-full-width"
                            placeholder="{{'register.repeat-password' | translate}}">
                    </nb-form-field>
                </div>
            </div>
            <div class="offset-md-2 col-8 my-4 mx-custom">
                <label class="mx-5">{{'register.location' | translate}} :</label>
                <nb-form-field class="center mx-5 mt-1">
                    <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
                    <input type="text" #placeInput [nbAutocomplete]="auto" (input)="findPlaces($event)"
                        nbInput fullWidth  fieldSize="medium"
                        placeholder="{{'register.location' | translate}}">
                </nb-form-field>
                <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
    
                    <nb-option *ngFor="let option of places" [value]="option">
                        <nb-icon pack="eva" icon="pin-outline" class="text-primary mt-1"></nb-icon><span
                            [innerHtml]="option.place_name"></span>
                    </nb-option>
                </nb-autocomplete>
                <button nbButton status="primary" (click)="submitChange()" class="d-block mx-auto mt-5">{{'settings.save' | translate}}</button>
    
            </div>
        </div>
    </form>
</nb-card>