:host::ng-deep {
    .ant-upload-select {
    }
    .ant-upload-select-picture-card {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .d-table {
        min-width: 67% !important;
    }

    .avatar-uploader > .ant-upload,
    .avatar {
        width: 190px;
        height: 190px;
    }

    .mx-custom {
        padding-right: 1.5rem ;
        padding-left: 1.5rem ;
        
    }
    @media (min-width: 768px) {
        .mx-custom {
            padding-right: 2.1rem !important;
            padding-left: 2.1rem !important;
            
        }
    }

   
}
