<h3 class="text-center mt-3">{{'admin.student.list' | translate}}</h3>
<div *ngIf="students" class="container-lg mt-3">
    <div class="row">
        <div class="col-2">
            <label>{{'admin.student.search' | translate}} :</label>
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
                <input nz-input (ngModelChange)="getStudents('keyword', $event)" [(ngModel)]="filters.keyword"
                    placeholder="{{'admin.student.search-student' | translate}}..." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
    </div>
    <nz-table [nzData]="students?.data" [nzLoading]="loading" [nzShowPagination]="true" [nzFrontPagination]="false"
        [nzPageIndex]="students?.current_page" [nzPageSize]="students?.per_page" [nzTotal]="students?.total"
        (nzPageIndexChange)="onPageIndexChange($event)" class="mt-3">
        <thead>
            <tr>
                <th></th>
                <th>{{'admin.student.lastname' | translate}}</th>
                <th>{{'admin.student.firstname' | translate}}</th>
                <th>{{'admin.student.email' | translate}}</th>
                <th>{{'admin.student.phone' | translate}}</th>
                <th>{{'admin.student.sexe' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students.data" class="pointer" (click)="openProfil(student.id)">
                <td>
                    <nz-avatar class="d-block mx-auto" nzIcon="user" [nzSrc]="student.image"></nz-avatar>
                </td>
                <td>{{student.lastname}}</td>
                <td>{{student.firstname}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td class="uppercase">{{student.sexe}}</td>

            </tr>
        </tbody>
    </nz-table>
</div>
