<h5>Confirmation</h5>
<p>Pour réserver un cours avec {{teacher.firstname | titlecase}} le <b>{{date.date.day}} {{date.date.month}}</b>
    à <b>{{item.time}}</b> vous devez préalablement choisir la matière à étudier ainsi que la durée du cours.</p>
<div class="row">
    <div class="col-md-6">
        <nz-select [(ngModel)]="selectedSubject" class="w-75 d-block mx-auto">
            <nz-option *ngFor="let subject of teacher.teacher_subjects" [nzValue]="subject.subject.id"
                nzLabel="{{subject.subject.libelle | translate}}"></nz-option>
        </nz-select>
    </div>
    <div class="col-md-6">
        <nz-select [(ngModel)]="selectedDuration" class="w-75 d-block mx-auto">
            <nz-option *ngFor="let number of counter(maxDuration)" [nzValue]="number"
                nzLabel="{{number}} {{(number ==1 ? 'general.hour' : 'general.hours') | translate}}"></nz-option>
        </nz-select>
    </div>
</div>
<nz-divider></nz-divider>
<div class="">
    <button nbButton size="small" status="primary" class="mx-2 float-right" (click)="confirm()">Confirm</button>
    <button nbButton size="small" status="basic" class="float-right" (click)="cancel()">Cancel</button>
    <p class="mb-0">&nbsp;</p>
</div>