<app-header></app-header>

<nz-layout class="layout">

    <nz-sider nzCollapsible [nzCollapsed]="mobile ? true : false" [nzWidth]="290" [nzCollapsedWidth]="mobile ? 0 : 80">
        <ul nz-menu nzMode="inline" class="w-100">
            <li class="mt-0" nz-menu-item routerLink="dashboard">
                <i nz-icon nzType="home" nzTheme="outline"></i>
                <span>Tableau de bord</span>
            </li>
            <li nz-submenu nzTitle="Mes cours" nzIcon="book" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="lessons">{{'lesson.coming' | translate}}</li>
                    <li nz-menu-item routerLink="lessons/history">{{'lesson.history' | translate}}</li>
                </ul>

            <li nz-submenu nzTitle="Mon profil" nzIcon="user" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="settings/profil">
                        Afficher mon profil</li>
                    <li nz-menu-item routerLink="settings/availabilities">
                        {{'header.availabilities' | translate}}</li>
                    <li nz-menu-item routerLink="settings/payments">
                        {{'header.bank_info' | translate}}</li>
                    <li nz-menu-item routerLink="settings/diploma">
                        {{'header.diploma' | translate}}</li>
                    <li nz-menu-item (click)="logout()">Déconnexion
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-content style="overflow: auto; max-height: calc(100vh - 74px);">
        <div class="body pb-3">
            <nb-layout>
                <nb-layout-column>
                    <router-outlet></router-outlet>
                </nb-layout-column>
            </nb-layout>
        </div>
    </nz-content>
</nz-layout>