<app-header></app-header>
<nz-layout class="layout">
    <nz-sider nzCollapsible [nzCollapsed]="mobile ? true : false" [nzWidth]="290" [nzCollapsedWidth]="mobile ? 0 : 80">
        <ul nz-menu nzMode="inline" class="w-100">
            <li class="mt-0" nz-menu-item routerLink="dashboard"><i nz-icon nzType="home"
                    nzTheme="outline"></i><span>Tableau de bord</span></li>
            <li nz-submenu nzTitle="Mes cours" nzIcon="shopping" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="lessons">Afficher tous mes cours</li>
                    <!-- <li nz-menu-item [nzDisabled]="true">Annuler une commande</li> -->
                </ul>
                <!-- <li nz-submenu nzTitle="Administration" nzIcon="setting" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="/dashboard/settings/import">Import des produits</li>
                    <li nz-menu-item routerLink="/dashboard/settings/users">Gestion des utilisateurs</li>
                    <li nz-menu-item routerLink="/dashboard/settings/orders">Ecran des commandes</li>
                </ul>
            </li> -->
            <li nz-submenu nzTitle="Mon profil" nzIcon="user" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="settings/profil">
                        Afficher mon profil</li>
                    <li nz-menu-item routerLink="settings/payments">
                        {{'header.bank_info' | translate}}</li>
                    <li nz-menu-item [nzDisabled]="true">Réinitialiser mon mot de passe</li>
                    <li nz-menu-item (click)="logout()">Déconnexion
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-content>
            <div class="body pb-5" style="min-height : 100vh !important">
                <!-- <nb-layout> -->
                    <!-- <nb-layout-column> -->
                        <router-outlet></router-outlet>
                    <!-- </nb-layout-column> -->
                <!-- </nb-layout> -->
            </div>
        </nz-content>
    </nz-layout>