:host::ng-deep {
    nb-tag.appearance-filled.status-primary {
        background-color: nb-theme(tag-filled-primary-hover-background-color) !important;
        border-color: nb-theme(tag-filled-primary-hover-border-color) !important;
    }

    .text-small{
        font-size:12px;
    }
}
