@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.nb-theme-corporate nb-layout .layout {
  background-color:#fff;
}
.anticon {
  transform: translateY(-5px); 
}
.light {
  font-family: OdudoLight !important;
}
.text-primary{
  color : #ffdc6b !important;
}

.pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-thumb {
  background: #B5A6FF;
  border-radius: 10px;
}

.bg-white{
  background-color: white;
} 

.nb-theme-corporate nb-layout .layout{
  background-color: transparent;
}


@font-face {
  font-family: "OdudoLight";
  src: url(assets/fonts/Odudo-Light.otf) format("truetype");
}
@font-face {
  font-family: "OdudoBold";
  src: url(assets/fonts/Odudo-SemiBold.otf) format("truetype");
}
@font-face {
  font-family: "Odudo";
  src: url(assets/fonts/Odudo-Regular.otf) format("truetype");
}
