@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #E7E1FF,
  color-primary-200: #CEC3FF,
  color-primary-300: #B5A6FF,
  color-primary-400: #A190FF,
  color-primary-500: #806BFF,
  color-primary-600: #604EDB,
  color-primary-700: #4435B7,
  color-primary-800: #2D2293,
  color-primary-900: #1C147A,
  font-family-primary : Odudo

), corporate, corporate);
