@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #e6e1ff,
  color-primary-200: #c0b5ff,
  color-primary-300: #9989ff,
  color-primary-400: #8d7aff,
  color-primary-500: #806BFF,
  color-primary-600: #5E50DF,
  color-primary-700: #3936C0,
  color-primary-800: #001EA2,
  color-primary-900: #000685,
  font-family-primary : Odudo

), corporate, corporate);
