@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #dbf0ee,
  color-primary-200: #b6e2dd,
  color-primary-300: #92d3cc,
  color-primary-400: #6dc5bb,
  color-primary-500: #45aca0,
  color-primary-600: #3a9288,
  color-primary-700: #2c6d66,
  color-primary-800: #1d4944,
  color-primary-900: #0f2422,
  font-family-primary : Odudo

), corporate, corporate);
