<nz-tabset nzSelectedIndex="0">
    <nz-tab *ngFor="let date of dates;let i =index" [nzTitle]="title">
        <ng-template #title>
            <h2 class="text-center ant-tabs-tab" [class.color-hover]="i==0">{{date.date.day}}</h2>
            <p class="caption text-center">{{date.date.month}}</p>
        </ng-template>
        <nz-list class="list-virtual">
            <nz-list-item *ngFor="let item of date.hours;let i = index" [class.pointer]="!item?.disabled && isTeacher"
             nbPopover="{{'teacher.private_tutoring.tooltip' | translate}}" (click)="bookCollabLesson(item, date, i )"
            nbPopoverTrigger="hint" nbPopoverPlacement="left" [nbTooltipDisabled]="item?.disabled || !isTeacher"
            [class.disabled]="item.disabled && isTeacher">
                <ng-container>
                    <nz-list-item-meta>
                        <nz-list-item-meta-title>
                            <h6 class="caption margin-negative px-3">{{item.time}}</h6>
                        </nz-list-item-meta-title>
                    </nz-list-item-meta>
                    <nb-alert *ngIf="item.lesson" [style.backgroundColor]="item.lesson.subject.color" class="w-100 ml-5 mr-4" [style.height]="getHeight(item.lesson)+'px'" [style.marginTop.px]="getLessonMarginTop(item.lesson)">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="text-white">{{item.time}} - {{item?.lesson?.subject.libelle | translate}} 
                                    <div [ngSwitch]="item?.lesson?.relative_status?.code" class="d-inline-block">
                                        <nb-tag status="basic" size="small" *ngSwitchCase="'unconfirmed'" appearance="filled"
                                            text="{{item?.lesson?.relative_status.label | translate}}"></nb-tag>
                                        <nb-tag status="primary" size="small" class="color-hover" *ngSwitchCase="'confirmed'" appearance="filled"
                                            text="{{item?.lesson?.relative_status.label  | translate}}"></nb-tag>
                                        <nb-tag status="warning" size="small" *ngSwitchCase="'cancelled'" appearance="filled"
                                            text="{{item?.lesson?.relative_status.label  | translate}}"></nb-tag>
                                        <nb-tag status="success" size="small" *ngSwitchCase="'done'" appearance="filled"
                                            text="{{item?.lesson?.relative_status.label  | translate}}"></nb-tag>
                                    </div>
                                </h6>
                                <p class="caption-2">{{item.lesson?.teacher_subject?.description}}</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-end flex-column h-100">
                                    <ng-container *ngIf="!isTeacher">
                                        <nb-user size="small" [name]="item.lesson.teacher.firstname + ' ' +item.lesson.teacher.lastname"  title="">
                                        </nb-user>
                                    </ng-container>
                                    <ng-container *ngIf="isTeacher">
                                        <nb-user *ngIf="item.lesson.capacity == 1 && item.lesson.students.length" size="small" [name]="item.lesson.students[0].firstname + ' ' +item.lesson.students[0].lastname"  title="">
                                        </nb-user>
                                        <nb-tag *ngIf="item.lesson.capacity != 1" size="small" status="basic" appearance="filled" text="{{item.lesson.students.length}} / {{item.lesson.capacity}} élèves"></nb-tag>
                                    </ng-container>
                                    <button class="mt-auto" nbButton size="small" (click)="displayLesson(item.lesson)">{{'lesson.detail' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </nb-alert><br />
                    
                </ng-container>
            </nz-list-item>
        </nz-list>
    </nz-tab>
</nz-tabset>