:host::ng-deep{
    .ant-tabs-tab {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        margin: 0 16px 0 16px;
        padding: 12px 0;
        text-decoration: none;
        cursor: pointer;
        font-size: 60px;
        text-align: center;
        transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .margin-negative{
        margin-top:-75px;
        // background-color: #f8f9fb ;
    }
    .list-virtual{
        max-height: 70vh;
        overflow-y: auto;
        padding-top: 15px;
    }
    .caption-2{
        color :#fff;
    }
    .user-name, .user-picture{
        color : #fff !important;
    }
    .status-warning {
        background-color: #23d7ff !important;
    }
    nz-list-item{
        min-height: 115px !important;
        max-height: 115px !important;
    }
    .status-warning {
        height:220px;
        margin-top: 110px;
    }
    .color-hover{
        color :#a894ff
    }
}