<div class="row mx-0">
    <div class="col-8">
        <div class="m-4">
            <app-calendar></app-calendar>
        </div>
    </div>
    <div class="col mt-5">
        <nb-card status="primary">
            <nb-card-header>Réserver un cours</nb-card-header>
            <nb-card-body>
                <img src="../../../../assets/home/idea.png" width="100" class="mx-auto d-block m-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos porro voluptatum non laboriosam, ut
                quam ea tenetur, expedita obcaecati nam, vero harum. Expedita enim</p>
                <button nbButton status="basic" size="small" class="float-right">Afficher les professeurs disponibles</button>
            </nb-card-body>
        </nb-card>

    </div>
</div>