<h3 class="text-center mt-3">{{'header.bank_info' | translate}}</h3>

<div *ngIf="!loading">

    <nb-card class="p-3 mx-md-5 mx-3" *ngIf="account?.requirements.currently_due.length > 0">
        <div>
            <p class="text-center muted">Il semblerait que vous n'ayez pas encore complété vos informations pour
                recevoir les paiements de vos cours, merci de cliquer sur le lien suivant pour compléter votre profil
            </p>
            <div class="mx-5">
                <ul class="text-center list-unstyled">
                    <li class="small" *ngFor="let error of account.requirements.errors">{{error.reason}}</li>
                </ul>
                <!-- <nb-alert *ngFor="let error of account.requirements.errors" accent="danger">{{error.reason}}</nb-alert> -->
            </div>
            <button nbButton status="primary" class="mx-auto d-block" (click)="openStripeSetup()">Completer mon
                profil</button>
        </div>
    </nb-card>

    <div class="m-md-5 m-3">
        <label>Transfers : </label>
        <div class="mt-3" *ngIf="account">
            <nb-alert class="d-inline-block" status="danger" *ngIf="account.capabilities.transfers !='active'">Inactive
                yet</nb-alert>
            <nb-alert class="d-inline-block" status="primary" *ngIf="account.capabilities.transfers =='active'">Active
            </nb-alert>
        </div>
    </div>

    <div class="mx-md-5 mx-3">
        <label>IBAN : </label>
        <input class="mt-3" nbInput fullWidth (ngModelChange)="onIbanChange($event)"
            placeholder="AE07 0331 2345 6789 0123 456" [ngModel]="iban" maxlength="32">
        <div class="d-flex flex-row-reverse">
            <button nbButton status="primary" class="mt-5" [disabled]="iban?.length < 20"
                (click)="saveIban()">{{'settings.save' | translate}}</button>
        </div>
    </div>

    <div class="row mx-md-5 mx-3">
        <div class="col-12 px-0">
            <h5>Liste des paiements</h5>
            <nz-table #basicTable [nzLoading]="loading" [nzFrontPagination]="false" [nzData]="transfers">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let transfer of transfers">

                        <tr *ngIf="!transfer.reversed">
                            <td>{{transfer.object | titlecase}}</td>
                            <td>{{transfer.currency | uppercase}} {{transfer.amount / 100 | number}}</td>
                            <td>{{transfer.created * 1000 | date:'mediumDate'}}</td>
                            <td>
                                <nb-tag *ngIf="!transfer.reversed" size="small" class="px-2 px-md-4" status="basic" appearance="filled"
                                    text="En cours"></nb-tag>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<nz-spin *ngIf="loading" class="text-center"></nz-spin>