<div class="container mt-5" *ngIf="!loading">
    <button nbButton class="float-right mx-5" size="small" (click)="addPaymentMethod()">{{'payment.add' |
        translate}}</button><br />
    <div class="row mt-5">
        <div class="col-12">
            <nz-spin nzSimple class="text-center py-4" *ngIf="!paymentMethods"></nz-spin>
        </div>
        <div class="col-6 px-5" *ngFor="let card of paymentMethods?.data">
            <nb-card accent="primary">
                <nb-card-body>
                    <nb-icon icon="trash-outline" pack="eva" class="float-right pointer text-small"
                        (click)="detach(card)"></nb-icon>
                    <p>**** **** **** {{card.card.last4}} </p>
                    <img src="../../../../../assets/payments/visa.svg" class="float-right mt-5"
                        *ngIf="card.card.brand == 'visa'">
                    <p class="caption mt-5">{{card.card.exp_month}}/{{card.card.exp_year}}</p>
                    <p>{{card?.billing_details?.name}}</p>
                    <nb-checkbox class="float-right" [checked]="card.default"
                        (checkedChange)="toggleCardDefault(card, $event)">{{'payment.use_by_default' | translate}}
                    </nb-checkbox>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12" *ngIf="paymentMethods?.data.length == 0">
            <nb-card>
                <nz-empty nzNotFoundImage="simple" class="my-4"></nz-empty>
            </nb-card>
        </div>

        <div class="col-12 ">
            <h5>{{'settings.payments.list' | translate}}</h5>
            <nz-table #basicTable [nzLoading]="loading" [nzFrontPagination]="false" [nzData]="charges">
                <thead>
                    <tr>
                        <th>{{'settings.payments.description' | translate}}</th>
                        <th>{{'settings.payments.amount' | translate}}</th>
                        <th>{{'settings.payments.date' | translate}}</th>
                        <th>{{'settings.payments.status' | translate}}</th>
                        <th>{{'settings.payments.receipt' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let charge of charges">
                        <td>{{charge.description }}</td>
                        <td>{{charge.currency | uppercase}} {{charge.amount / 100 | number}}</td>
                        <td>{{charge.created * 1000 | date:'medium'}}</td>
                        <td>
                            <nb-tag *ngIf="charge.paid && !charge.refunded" size="small" status="primary" appearance="filled"
                                text="{{'settings.payments.done' | translate}}"></nb-tag>
                            <nb-tag *ngIf="charge.disputed" size="small" status="warning" appearance="filled"
                                text="{{'settings.payments.disputed' | translate}}"></nb-tag>
                            <nb-tag *ngIf="charge.refunded" size="small" status="danger" appearance="filled"
                                text="{{'settings.payments.refunded' | translate}}"></nb-tag>
                                <p *ngIf="charge.failure_message">{{charge.failure_message}}</p>
                        </td>
                        <td>

                            <nb-icon *ngIf="charge.receipt_url" icon="file-text-outline" pack="eva" class="pointer text-primary"
                                (click)="showReceipt(charge.receipt_url)"></nb-icon>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<nz-spin *ngIf="loading" class="text-center mt-5"></nz-spin>
