<!-- <video id="video"></video>
<canvas id="canvas"></canvas> -->
<nb-layout>

    <nb-layout-column>

        <div [class.d-none]="!connected">
            <div class="h-100" [nbSpinner]="!started && connected" nbSpinnerStatus="primary"
                nbSpinnerMessage="Waiting for remote to connect">
                <video autoplay [class.d-none]="!connectedUser?.camera" #participantVideo playsinline
                    id="participants-video" class="w-100 h-100"></video>
                <div [class.d-none]="connectedUser?.camera">
                    <div class="cover">
                        <div class="center">
                            <nz-avatar [nzSize]="150" [nzText]="getInitial()" class="bg-primary"></nz-avatar>
                            <p class="text-center mt-3 text-grey">{{connectedUser?.firstname}}
                                {{connectedUser?.lastname}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <video [muted]="true" [class.invisible]="!inputs.camera" #videoFallBack autoplay playsinline id="video"
                class="video-fallback max-index"></video>
            <app-call-controls *ngIf="started" [(unReadMessage)]="unReadMessage" [(screenSharing)]="inputs.screenShare"
                (onOpenChat)="openChat()" (screenSharingChange)="onScreenSharingChange($event)"
                (onLeave)="leaveSession()" (onMicrophoneChange)="onMicrophoneChange($event)"
                (onCameraChange)="toogleCamera($event)">
            </app-call-controls>
        </div>
        <div *ngIf="!connected">
            <app-header></app-header>
            <h4 class="text-grey text-center mt-4">{{'classroom.title' | translate}} {{lesson?.scheduled_at | date:'MMM d, y, h:mm a'}}</h4>
            <div class="d-block mx-auto" style="width:40%">
                <ng-lottie [options]="options"></ng-lottie>
            </div>
            <button nbButton hero class="d-block mx-auto" (click)="initConnection()" size="large"
                status="primary">{{'classroom.connect' | translate}}</button>
        </div>


        <nz-drawer [nzClosable]="true" [nzVisible]="inputs.chat" nzPlacement="left" nzSize="large" [nzTitle]="null"
            (nzOnClose)="inputs.chat = false">
            <ng-container *nzDrawerContent>
                <nb-chat title="{{'classroom.conversation' | translate}}">
                    <nb-chat-message *ngFor="let msg of messages" [files]="msg.files" [type]="msg.type"
                        [message]="msg.message" [reply]="msg.reply" [sender]="msg.user.firstname" [date]="msg.date"
                        dateFormat="shortTime" [avatar]="msg.user.image">
                    </nb-chat-message>

                    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
                    </nb-chat-form>
                </nb-chat>



            </ng-container>
        </nz-drawer>


    </nb-layout-column>
</nb-layout>