:host::ng-deep {
    time {
        font-size: 9px;
    }
    .scrollable {
        min-height: 80vh;
        max-height: 80vh;
        background: #f8f9fb;
    }
    .header{
        background: #f8f9fb !important;
        box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    }
    nb-chat-message.reply nb-chat-message-text .text{
        background-color: white;
    }
    .text-small{
        font-size: 12px;
    }

    // nb-chat-form {
    //     > ::before {
    //         // width: 20px;
    //         content: "Upload files";
    //         // background: red;
    //     }
    // }
}
