<div class="row mt-5 w-100 mx-0">
    <div class="col-md-1 col-4 offset-md-2 offset-8">
        <img src="../../../assets/logo2.svg" class="w-75">
    </div>
    <div class="col-md col-12 mx-md-0 offset-md-2 offset-0">
        <ul class="list-unstyled">
            <!-- <li>&nbsp;</li> -->
            <li>Privacy</li>
            <li>Terms of Use</li>
        </ul>
    </div>
    <div class="col-12 col-md  mx-md-0">
        <ul class="list-unstyled">
            <li class="bold text-primary">Contact us</li>
            <li><i nz-icon nzType="mail" nzTheme="outline"></i> contact@chteachers.com</li>
            <li><i nz-icon nzType="environment" nzTheme="outline"></i>37 Bakers Street, 69001 Al Rigga</li>
            <li><i nz-icon nzType="phone" nzTheme="outline"></i> +33 6 00 00 00 00</li>
        </ul>
    </div>
    <div class="col-2">
         
    </div>
</div>
<p class="text-center mt-4">© 2020 Ch'teachers. All rights reserved</p>