.headband {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(../../../../assets/home/headband/background.png);
    height: 350px;
    background-color: #806bff;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
:host::ng-deep {
    .nb-theme-corporate nb-option {
        em{
            color: #806bff !important;
        }
    }
    nz-tag{
        cursor : pointer !important
    }
    .ant-upload.ant-upload-select-picture-card {
        float: none !important;
        margin-left:auto !important;
        margin-right:auto !important;
        width:200px;
        height : 200px;

    }
    textarea{
        height:200px
    }
}
.margin-negative {
    margin-top: -20vh;
    margin-bottom: 20vh;
}
