.headband {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    background-image: url(../../../../assets/home/headband/background.png);
    height: 350px;
    background-color: #45aca0;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
:host::ng-deep {
    .nb-theme-corporate nb-option {
        em{
            color: #45aca0 !important;
        }
    }
    nz-tag{
        cursor : pointer !important
    }
    // .ant-upload.ant-upload-select-picture-card {
    //     float: none !important;
    //     margin-left:auto !important;
    //     margin-right:auto !important;
    //     width:200px;
    //     height : 200px;

    // }
    // 
    .ant-upload-select {
        .ant-upload{
            // width:200%;
        }
    } 
    textarea{
        height:200px
    }
    .ant-upload-select-picture-card{
        margin-left:auto;
        margin-right:auto;
        display:block;
        width: 190px;
        height: 190px;
    }
    .avatar-uploader > .ant-upload,
    .avatar {
        width: 190px;
        height: 190px;
    }
}
.margin-negative {
    margin-top: -27vh;
    margin-bottom: 20vh;
}

@media (min-width: 768px) {
    .margin-negative {
        margin-top: -20vh;
        margin-bottom: 20vh;
    }
}